.form-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
  border: 1px solid gray;
  padding:10%;
background-color: black;
color: white;
}

.form-button{
  padding-top: 50px;
}

.each-footer-icon{
  width: 150px;
  height: 150px;
  margin: 10px;
  transition: transform .2s;
}

.footer-icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
} 

.footer-icon-div{
  border: 2px solid black;
  border-radius: 50%;
  margin: 20px;
  background-color: whitesmoke;
}

.each-footer-icon:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform:scale(1.5);
}

.kelly-designs{
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
  color: white;

}